<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.hktve.viutv" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.HDMI_CEC"/>
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>
    <uses-feature android:name="android.software.leanback" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <permission android:name="com.hktve.viutv.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.hktve.viutv.permission.C2D_MESSAGE"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:banner="@drawable/app_icon" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.hktve.viutv.ViuTvApplication" android:screenOrientation="landscape" android:supportsRtl="true" android:theme="@style/Theme.Leanback.ViuTV">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="JW_LICENSE_KEY" android:value="sBf4aE8NIl67VGJcgajoIcKmBCi7V2wspbfSGA=="/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.hktve.viutv.controller.network.viu.ViuTVSpiceServiceV2"/>
        <service android:label="Home Channel Service" android:name="com.hktve.viutv.service.JobSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService"/>
        <receiver android:exported="true" android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.hktve.viutv.provider" android:exported="true" android:name="com.hktve.viutv.model.contentprovider.ViuTvProvider" android:syncable="false"/>
        <activity android:label="@string/app_name" android:name="com.hktve.viutv.controller.page.MainActivity" android:theme="@style/NewSeachTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
                <category android:name="android.intent.category.MONKEY"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="com.hktve.viutv" android:pathPrefix="/startapp" android:scheme="viutvandroidtv"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hktve.viutv.controller.page.SearchActivity"/>
        <activity android:name="com.hktve.viutv.controller.page.BrowseErrorActivity"/>
        <activity android:exported="true" android:name="com.hktve.viutv.controller.page.player.DeepLinkVideoPlaybackPreparationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="com.hktve.viutv" android:pathPrefix="/playvod" android:scheme="viutvandroidtv"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hktve.viutv.controller.page.player.VideoPlaybackActivity"/>
        <activity android:name="com.hktve.viutv.controller.page.player.LiveVideoPlaybackActivity"/>
        <activity android:name="com.hktve.viutv.controller.page.LoginActivity"/>
        <activity android:label="@string/app_name" android:name="com.hktve.viutv.controller.page.TagDetailActivity" android:theme="@style/AppTheme.Leanback.CustomTitle"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="67d7d5fa5e0625f579c47f30ca0eb917b9d63eb2"/>
        <activity android:name="com.hktve.viutv.controller.page.SettingDetailActivity"/>
        <activity android:name="com.hktve.viutv.controller.page.AdultStepActivity"/>
        <activity android:exported="true" android:name="com.hktve.viutv.controller.page.GlobalSearchReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:name="com.hktve.viutv.controller.page.ProgrammeDetailV2Activity" android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="com.hktve.viutv" android:pathPrefix="/encore" android:scheme="viutvandroidtv"/>
            </intent-filter>
        </activity>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.tagmanager.TagManagerService"/>
        <activity android:exported="true" android:name="com.google.android.gms.tagmanager.TagManagerPreviewActivity" android:noHistory="true">
            <intent-filter>
                <data android:scheme="tagmanager.c.com.hktve.viutv"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.hktve.viutv"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.hktve.viutv.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
    </application>
</manifest>