/apktool.yml
/assets/
/original/
/res/
/unknown/
/kotlin/
/smali/android/
/smali/androidx/
/smali/com/android/
/smali/com/google/
/smali_classes2/
/smali_classes3/com/
/smali_classes3/kotlin/
/smali_classes3/org/
