/assets/fonts/DIN-AlternateBold.ttf
/build/
/dist/
/kotlin/
/lib/arm64-v8a/libmv3_aachev2dec.so
/lib/arm64-v8a/libmv3_androidreader.so
/lib/arm64-v8a/libmv3_common.so
/lib/arm64-v8a/libmv3_glrenderer.so
/lib/arm64-v8a/libmv3_h264dec.so
/lib/arm64-v8a/libmv3_jni.so
/lib/arm64-v8a/libmv3_jni_4.0.so
/lib/arm64-v8a/libmv3_mp3dec.so
/lib/arm64-v8a/libmv3_mpplat.so
/lib/arm64-v8a/libmv3_platform.so
/lib/arm64-v8a/libmv3_playerbase.so
/lib/arm64-v8a/libmv3_sourceparser.so
/lib/arm64-v8a/libmv3_swvideoreader.so
/lib/arm64-v8a/libmv3_videorenderer_nw.so
/lib/armeabi-v7a/libmv3_aachev2dec_arm9e.so
/lib/armeabi-v7a/libmv3_androidreader.so
/lib/armeabi-v7a/libmv3_common.so
/lib/armeabi-v7a/libmv3_download.so
/lib/armeabi-v7a/libmv3_downloadjni.so
/lib/armeabi-v7a/libmv3_glrenderer.so
/lib/armeabi-v7a/libmv3_h264dec_neon.so
/lib/armeabi-v7a/libmv3_jni_4.0.so
/lib/armeabi-v7a/libmv3_mp3dec.so
/lib/armeabi-v7a/libmv3_mpplat.so
/lib/armeabi-v7a/libmv3_platform.so
/lib/armeabi-v7a/libmv3_playerbase.so
/lib/armeabi-v7a/libmv3_sourceparser.so
/lib/armeabi-v7a/libmv3_swvideoreader.so
/lib/armeabi-v7a/libmv3_videorenderer_nw.so
/META-INF/
/original/
/res/anim*/abc_fade_in.xml
/res/anim*/abc_fade_out.xml
/res/anim*/abc_grow_fade_in_from_bottom.xml
/res/anim*/abc_popup_enter.xml
/res/anim*/abc_popup_exit.xml
/res/anim*/abc_shrink_fade_out_from_bottom.xml
/res/anim*/abc_slide_in_bottom.xml
/res/anim*/abc_slide_in_top.xml
/res/anim*/abc_slide_out_bottom.xml
/res/anim*/abc_slide_out_top.xml
/res/anim*/abc_tooltip_enter.xml
/res/anim*/abc_tooltip_exit.xml
/res/anim*/anim_photo_in.xml
/res/anim*/anim_photo_out.xml
/res/anim*/btn_checkbox_to_checked_box_inner_merged_animation.xml
/res/anim*/btn_checkbox_to_checked_box_outer_merged_animation.xml
/res/anim*/btn_checkbox_to_checked_icon_null_animation.xml
/res/anim*/btn_checkbox_to_unchecked_box_inner_merged_animation.xml
/res/anim*/btn_checkbox_to_unchecked_check_path_merged_animation.xml
/res/anim*/btn_checkbox_to_unchecked_icon_null_animation.xml
/res/anim*/btn_radio_to_off_mtrl_dot_group_animation.xml
/res/anim*/btn_radio_to_off_mtrl_ring_outer_animation.xml
/res/anim*/btn_radio_to_off_mtrl_ring_outer_path_animation.xml
/res/anim*/btn_radio_to_on_mtrl_dot_group_animation.xml
/res/anim*/btn_radio_to_on_mtrl_ring_outer_animation.xml
/res/anim*/btn_radio_to_on_mtrl_ring_outer_path_animation.xml
/res/anim*/dialog_alpha_cancel.xml
/res/anim*/dialog_alpha_show.xml
/res/anim*/down_in.xml
/res/anim*/down_out.xml
/res/anim*/fade_in.xml
/res/anim*/fade_out.xml
/res/anim*/fragment_close_enter.xml
/res/anim*/fragment_close_exit.xml
/res/anim*/fragment_fade_enter.xml
/res/anim*/fragment_fade_exit.xml
/res/anim*/fragment_fast_out_extra_slow_in.xml
/res/anim*/fragment_open_enter.xml
/res/anim*/fragment_open_exit.xml
/res/anim*/modal_in.xml
/res/anim*/modal_out.xml
/res/anim*/picture_anim_album_dismiss.xml
/res/anim*/picture_anim_album_show.xml
/res/anim*/picture_anim_down_out.xml
/res/anim*/picture_anim_enter.xml
/res/anim*/picture_anim_exit.xml
/res/anim*/picture_anim_modal_in.xml
/res/anim*/picture_anim_modal_out.xml
/res/anim*/picture_anim_overshoot_interpolator.xml
/res/anim*/picture_anim_up_in.xml
/res/anim*/right_in.xml
/res/anim*/right_out.xml
/res/anim*/scale_in.xml
/res/anim*/scale_out.xml
/res/anim*/up_in.xml
/res/anim*/zoom_in.xml
/res/anim*/zoom_out.xml
/res/animator*/design_appbar_state_list_animator.xml
/res/color*/abc_background_cache_hint_selector_material_dark.xml
/res/color*/abc_background_cache_hint_selector_material_light.xml
/res/color*/abc_btn_colored_borderless_text_material.xml
/res/color*/abc_btn_colored_text_material.xml
/res/color*/abc_color_highlight_material.xml
/res/color*/abc_hint_foreground_material_dark.xml
/res/color*/abc_hint_foreground_material_light.xml
/res/color*/abc_primary_text_disable_only_material_dark.xml
/res/color*/abc_primary_text_disable_only_material_light.xml
/res/color*/abc_primary_text_material_dark.xml
/res/color*/abc_primary_text_material_light.xml
/res/color*/abc_search_url_text.xml
/res/color*/abc_secondary_text_material_dark.xml
/res/color*/abc_secondary_text_material_light.xml
/res/color*/abc_tint_btn_checkable.xml
/res/color*/abc_tint_default.xml
/res/color*/abc_tint_edittext.xml
/res/color*/abc_tint_seek_thumb.xml
/res/color*/abc_tint_spinner.xml
/res/color*/abc_tint_switch_track.xml
/res/color*/design_error.xml
/res/color*/design_icon_tint.xml
/res/color*/material_on_primary_emphasis_medium.xml
/res/color*/material_on_surface_emphasis_high_type.xml
/res/color*/material_on_surface_emphasis_medium.xml
/res/color*/material_slider_active_tick_marks_color.xml
/res/color*/material_slider_active_track_color.xml
/res/color*/material_slider_halo_color.xml
/res/color*/material_slider_inactive_tick_marks_color.xml
/res/color*/material_slider_inactive_track_color.xml
/res/color*/material_slider_thumb_color.xml
/res/color*/picture_list_text_color.xml
/res/color*/switch_thumb_material_dark.xml
/res/color*/switch_thumb_material_light.xml
/res/color*/test_mtrl_calendar_day.xml
/res/color*/test_mtrl_calendar_day_selected.xml
/res/drawable*/$avd_hide_password__0.xml
/res/drawable*/$avd_hide_password__1.xml
/res/drawable*/$avd_hide_password__2.xml
/res/drawable*/$avd_show_password__0.xml
/res/drawable*/$avd_show_password__1.xml
/res/drawable*/$avd_show_password__2.xml
/res/drawable*/abc_ab_share_pack_mtrl_alpha.9.png
/res/drawable*/abc_action_bar_item_background_material.xml
/res/drawable*/abc_btn_borderless_material.xml
/res/drawable*/abc_btn_check_material.xml
/res/drawable*/abc_btn_check_material_anim.xml
/res/drawable*/abc_btn_check_to_on_mtrl_000.png
/res/drawable*/abc_btn_check_to_on_mtrl_015.png
/res/drawable*/abc_btn_colored_material.xml
/res/drawable*/abc_btn_default_mtrl_shape.xml
/res/drawable*/abc_btn_radio_material.xml
/res/drawable*/abc_btn_radio_material_anim.xml
/res/drawable*/abc_btn_radio_to_on_mtrl_000.png
/res/drawable*/abc_btn_radio_to_on_mtrl_015.png
/res/drawable*/abc_btn_switch_to_on_mtrl_00001.9.png
/res/drawable*/abc_btn_switch_to_on_mtrl_00012.9.png
/res/drawable*/abc_cab_background_internal_bg.xml
/res/drawable*/abc_cab_background_top_material.xml
/res/drawable*/abc_cab_background_top_mtrl_alpha.9.png
/res/drawable*/abc_control_background_material.xml
/res/drawable*/abc_dialog_material_background.xml
/res/drawable*/abc_edit_text_material.xml
/res/drawable*/abc_ic_ab_back_material.xml
/res/drawable*/abc_ic_arrow_drop_right_black_24dp.xml
/res/drawable*/abc_ic_clear_material.xml
/res/drawable*/abc_ic_commit_search_api_mtrl_alpha.png
/res/drawable*/abc_ic_go_search_api_material.xml
/res/drawable*/abc_ic_menu_copy_mtrl_am_alpha.png
/res/drawable*/abc_ic_menu_cut_mtrl_alpha.png
/res/drawable*/abc_ic_menu_overflow_material.xml
/res/drawable*/abc_ic_menu_paste_mtrl_am_alpha.png
/res/drawable*/abc_ic_menu_selectall_mtrl_alpha.png
/res/drawable*/abc_ic_menu_share_mtrl_alpha.png
/res/drawable*/abc_ic_search_api_material.xml
/res/drawable*/abc_ic_star_black_16dp.png
/res/drawable*/abc_ic_star_black_36dp.png
/res/drawable*/abc_ic_star_black_48dp.png
/res/drawable*/abc_ic_star_half_black_16dp.png
/res/drawable*/abc_ic_star_half_black_36dp.png
/res/drawable*/abc_ic_star_half_black_48dp.png
/res/drawable*/abc_ic_voice_search_api_material.xml
/res/drawable*/abc_item_background_holo_dark.xml
/res/drawable*/abc_item_background_holo_light.xml
/res/drawable*/abc_list_divider_material.xml
/res/drawable*/abc_list_divider_mtrl_alpha.9.png
/res/drawable*/abc_list_focused_holo.9.png
/res/drawable*/abc_list_longpressed_holo.9.png
/res/drawable*/abc_list_pressed_holo_dark.9.png
/res/drawable*/abc_list_pressed_holo_light.9.png
/res/drawable*/abc_list_selector_background_transition_holo_dark.xml
/res/drawable*/abc_list_selector_background_transition_holo_light.xml
/res/drawable*/abc_list_selector_disabled_holo_dark.9.png
/res/drawable*/abc_list_selector_disabled_holo_light.9.png
/res/drawable*/abc_list_selector_holo_dark.xml
/res/drawable*/abc_list_selector_holo_light.xml
/res/drawable*/abc_menu_hardkey_panel_mtrl_mult.9.png
/res/drawable*/abc_popup_background_mtrl_mult.9.png
/res/drawable*/abc_ratingbar_indicator_material.xml
/res/drawable*/abc_ratingbar_material.xml
/res/drawable*/abc_ratingbar_small_material.xml
/res/drawable*/abc_scrubber_control_off_mtrl_alpha.png
/res/drawable*/abc_scrubber_control_to_pressed_mtrl_000.png
/res/drawable*/abc_scrubber_control_to_pressed_mtrl_005.png
/res/drawable*/abc_scrubber_primary_mtrl_alpha.9.png
/res/drawable*/abc_scrubber_track_mtrl_alpha.9.png
/res/drawable*/abc_seekbar_thumb_material.xml
/res/drawable*/abc_seekbar_tick_mark_material.xml
/res/drawable*/abc_seekbar_track_material.xml
/res/drawable*/abc_spinner_mtrl_am_alpha.9.png
/res/drawable*/abc_spinner_textfield_background_material.xml
/res/drawable*/abc_switch_thumb_material.xml
/res/drawable*/abc_switch_track_mtrl_alpha.9.png
/res/drawable*/abc_tab_indicator_material.xml
/res/drawable*/abc_tab_indicator_mtrl_alpha.9.png
/res/drawable*/abc_text_cursor_material.xml
/res/drawable*/abc_text_select_handle_left_mtrl_dark.png
/res/drawable*/abc_text_select_handle_left_mtrl_light.png
/res/drawable*/abc_text_select_handle_middle_mtrl_dark.png
/res/drawable*/abc_text_select_handle_middle_mtrl_light.png
/res/drawable*/abc_text_select_handle_right_mtrl_dark.png
/res/drawable*/abc_text_select_handle_right_mtrl_light.png
/res/drawable*/abc_textfield_activated_mtrl_alpha.9.png
/res/drawable*/abc_textfield_default_mtrl_alpha.9.png
/res/drawable*/abc_textfield_search_activated_mtrl_alpha.9.png
/res/drawable*/abc_textfield_search_default_mtrl_alpha.9.png
/res/drawable*/abc_textfield_search_material.xml
/res/drawable*/abc_vector_test.xml
/res/drawable*/avd_hide_password.xml
/res/drawable*/avd_show_password.xml
/res/drawable*/btn_checkbox_checked_mtrl.xml
/res/drawable*/btn_checkbox_checked_to_unchecked_mtrl_animation.xml
/res/drawable*/btn_checkbox_unchecked_mtrl.xml
/res/drawable*/btn_checkbox_unchecked_to_checked_mtrl_animation.xml
/res/drawable*/btn_radio_off_mtrl.xml
/res/drawable*/btn_radio_off_to_on_mtrl_animation.xml
/res/drawable*/btn_radio_on_mtrl.xml
/res/drawable*/btn_radio_on_to_off_mtrl_animation.xml
/res/drawable*/design_fab_background.xml
/res/drawable*/design_ic_visibility.xml
/res/drawable*/design_ic_visibility_off.xml
/res/drawable*/design_password_eye.xml
/res/drawable*/design_snackbar_background.xml
/res/drawable*/ic_mtrl_chip_checked_circle.xml
/res/drawable*/ic_mtrl_chip_close_circle.xml
/res/drawable*/loading_dot_1.xml
/res/drawable*/loading_dot_2.xml
/res/drawable*/notification_action_background.xml
/res/drawable*/notification_bg.xml
/res/drawable*/notification_bg_low.xml
/res/drawable*/notification_bg_low_normal.9.png
/res/drawable*/notification_bg_low_pressed.9.png
/res/drawable*/notification_bg_normal.9.png
/res/drawable*/notification_bg_normal_pressed.9.png
/res/drawable*/notification_icon_background.xml
/res/drawable*/notification_tile_bg.xml
/res/drawable*/notify_panel_notification_icon_bg.png
/res/drawable*/permission_card1.png
/res/drawable*/picture_num_oval.xml
/res/drawable*/picture_orange_oval.xml
/res/drawable*/progress_scl.xml
/res/drawable*/shape_bg_white.xml
/res/drawable*/shape_btn_blue.xml
/res/drawable*/shape_btn_border_white.xml
/res/drawable*/shape_btn_green_light.xml
/res/drawable*/shape_btn_next.xml
/res/drawable*/tooltip_frame_dark.xml
/res/drawable*/tooltip_frame_light.xml
/res/drawable*/video_volume_progress_bg.xml
/res/drawable*/volume_progress_bg.xml
/res/interpolator*/btn_checkbox_checked_mtrl_animation_interpolator_0.xml
/res/interpolator*/btn_checkbox_checked_mtrl_animation_interpolator_1.xml
/res/interpolator*/btn_checkbox_unchecked_mtrl_animation_interpolator_0.xml
/res/interpolator*/btn_checkbox_unchecked_mtrl_animation_interpolator_1.xml
/res/interpolator*/btn_radio_to_off_mtrl_animation_interpolator_0.xml
/res/interpolator*/btn_radio_to_on_mtrl_animation_interpolator_0.xml
/res/interpolator*/fast_out_slow_in.xml
/res/layout*/abc_action_bar_title_item.xml
/res/layout*/abc_action_bar_up_container.xml
/res/layout*/abc_action_menu_item_layout.xml
/res/layout*/abc_action_menu_layout.xml
/res/layout*/abc_action_mode_bar.xml
/res/layout*/abc_action_mode_close_item_material.xml
/res/layout*/abc_activity_chooser_view.xml
/res/layout*/abc_activity_chooser_view_list_item.xml
/res/layout*/abc_alert_dialog_button_bar_material.xml
/res/layout*/abc_alert_dialog_material.xml
/res/layout*/abc_alert_dialog_title_material.xml
/res/layout*/abc_cascading_menu_item_layout.xml
/res/layout*/abc_dialog_title_material.xml
/res/layout*/abc_expanded_menu_layout.xml
/res/layout*/abc_list_menu_item_checkbox.xml
/res/layout*/abc_list_menu_item_icon.xml
/res/layout*/abc_list_menu_item_layout.xml
/res/layout*/abc_list_menu_item_radio.xml
/res/layout*/abc_popup_menu_header_item_layout.xml
/res/layout*/abc_popup_menu_item_layout.xml
/res/layout*/abc_screen_content_include.xml
/res/layout*/abc_screen_simple.xml
/res/layout*/abc_screen_simple_overlay_action_mode.xml
/res/layout*/abc_screen_toolbar.xml
/res/layout*/abc_search_dropdown_item_icons_2line.xml
/res/layout*/abc_search_view.xml
/res/layout*/abc_select_dialog_material.xml
/res/layout*/abc_tooltip.xml
/res/layout*/browser_actions_context_menu_page.xml
/res/layout*/browser_actions_context_menu_row.xml
/res/layout*/custom_dialog.xml
/res/layout*/notification_action.xml
/res/layout*/notification_action_tombstone.xml
/res/layout*/notification_media_action.xml
/res/layout*/notification_media_cancel_action.xml
/res/layout*/notification_template_big_media.xml
/res/layout*/notification_template_big_media_custom.xml
/res/layout*/notification_template_big_media_narrow.xml
/res/layout*/notification_template_big_media_narrow_custom.xml
/res/layout*/notification_template_custom_big.xml
/res/layout*/notification_template_icon_group.xml
/res/layout*/notification_template_lines_media.xml
/res/layout*/notification_template_media.xml
/res/layout*/notification_template_media_custom.xml
/res/layout*/notification_template_part_chronometer.xml
/res/layout*/notification_template_part_time.xml
/res/layout*/select_dialog_item_material.xml
/res/layout*/select_dialog_multichoice_material.xml
/res/layout*/select_dialog_singlechoice_material.xml
/res/layout*/support_simple_spinner_dropdown_item.xml
/res/mipmap*/ic_launcher.png
/res/mipmap*/ic_launcher.xml
/res/mipmap*/ic_launcher_foreground.png
/res/mipmap*/ic_launcher_foreground.xml
/res/mipmap*/ic_launcher_round.png
/res/mipmap*/ic_launcher_round.xml
/res/values-h720dp/dimens.xml
/res/values-hdpi/styles.xml
/res/values-port/bools.xml
/res/values-v21/colors.xml
/res/values-v22/styles.xml
/res/values-v25/styles.xml
/res/values-xlarge/dimens.xml
/res/values/arrays.xml
/smali/android/
/smali/androidx/activity/
/smali/androidx/arch/
/smali/androidx/collection/
/smali/androidx/core/
/smali/androidx/customview/
/smali/androidx/fragment/
/smali/androidx/lifecycle/
/smali/androidx/loader/
/smali/androidx/media/
/smali/androidx/multidex/
/smali/androidx/savedstate/
/smali/androidx/versionedparcelable/
/smali/androidx/viewpager/
/smali/com/a/
/smali/com/android/
/smali/com/arcvideo/
/smali/com/google/gson
/smali/com/utv/App$2.smali
/smali/com/utv/BuildConfig.smali
/smali/com/utv/http/RequestListener.smali
/smali/com/utv/util/DevicesInfoUtil.smali
/smali/com/utv/util/PreferencesUtil.smali
/smali/javax/annotation
/smali/kotlin/
/smali/okhttp3/
/smali/okio/
/smali/org/apache/
/smali/org/litepal/
/smali_classes2/com/google/gson/
/smali_classes3/com/utv/R$array.smali
/smali_classes3/com/utv/R.smali
/smali_classes3/com/utv/bean/ComingBean.smali
/smali_classes3/com/utv/bean/GroupsBean$1.smali
/smali_classes3/com/utv/bean/GroupsBean.smali
/smali_classes3/com/utv/bean/H5UrlsBean.smali
/smali_classes3/com/utv/bean/LivePlayurlsBean.smali
/smali_classes3/com/utv/bean/MLiveChannelBean.smali
/smali_classes3/com/utv/bean/MLiveChannelDetailBean.smali
/smali_classes3/com/utv/bean/PlayingBean$1.smali
/smali_classes3/com/utv/bean/ProgramsBean.smali
/smali_classes3/com/utv/http/RequestManager$1.smali
/smali_classes3/com/utv/http/RequestManager$10.smali
/smali_classes3/com/utv/http/RequestManager$11.smali
/smali_classes3/com/utv/http/RequestManager$12.smali
/smali_classes3/com/utv/http/RequestManager$13.smali
/smali_classes3/com/utv/http/RequestManager$14.smali
/smali_classes3/com/utv/http/RequestManager$15.smali
/smali_classes3/com/utv/http/RequestManager$16.smali
/smali_classes3/com/utv/http/RequestManager$17.smali
/smali_classes3/com/utv/http/RequestManager$18.smali
/smali_classes3/com/utv/http/RequestManager$19.smali
/smali_classes3/com/utv/http/RequestManager$2.smali
/smali_classes3/com/utv/http/RequestManager$20.smali
/smali_classes3/com/utv/http/RequestManager$21.smali
/smali_classes3/com/utv/http/RequestManager$22.smali
/smali_classes3/com/utv/http/RequestManager$23.smali
/smali_classes3/com/utv/http/RequestManager$24.smali
/smali_classes3/com/utv/http/RequestManager$25.smali
/smali_classes3/com/utv/http/RequestManager$26.smali
/smali_classes3/com/utv/http/RequestManager$27.smali
/smali_classes3/com/utv/http/RequestManager$3.smali
/smali_classes3/com/utv/http/RequestManager$4.smali
/smali_classes3/com/utv/http/RequestManager$5.smali
/smali_classes3/com/utv/http/RequestManager$6.smali
/smali_classes3/com/utv/http/RequestManager$7.smali
/smali_classes3/com/utv/http/RequestManager$8.smali
/smali_classes3/com/utv/http/RequestManager$9.smali
/smali_classes3/com/utv/http/entity/StringReqEntity.smali
/smali_classes3/com/utv/util/Constant.smali
/smali_classes3/com/utv/util/FileUtils.smali
/smali_classes3/com/utv/util/MD5.smali
/smali_classes3/com/utv/util/SystemUtil.smali
/smali_classes4/javax/activation/
/smali_classes4/javax/annotation/
/smali_classes4/kotlin/*.smali
/smali_classes4/kotlin/collections/
/smali_classes4/kotlin/comparisons/
/smali_classes4/kotlin/concurrent/
/smali_classes4/kotlin/contracts/
/smali_classes4/kotlin/coroutines/
/smali_classes4/kotlin/experimental/
/smali_classes4/kotlin/internal/
/smali_classes4/kotlin/io/
/smali_classes4/kotlin/jdk7/
/smali_classes4/kotlin/jvm/
/smali_classes4/kotlin/math/
/smali_classes4/kotlin/properties/
/smali_classes4/kotlin/random/
/smali_classes4/kotlin/ranges/
/smali_classes4/kotlin/sequences/
/smali_classes4/kotlin/system/
/smali_classes4/kotlin/text/
/smali_classes4/kotlin/time/
/smali_classes4/okhttp3/
/smali_classes4/okio/
/smali_classes4/org/json/
/smali_classes4/org/litepal/
/unknown/
