<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.utv" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <queries>
        <package android:name="com.eg.android.AlipayGphone"/>
        <package android:name="hk.alipay.wallet"/>
        <package android:name="com.tencent.mm"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.whatsapp"/>
    </queries>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:fullBackupContent="@xml/appsflyer_backup_rules" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.utv.App" android:requestLegacyExternalStorage="true" android:resizeableActivity="false" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <meta-data android:name="UMENG_APPKEY" android:value="5caae796570df3d79000121d"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-8492454358086128~3014317941"/>
        <activity android:name="com.utv.activity.test.TestWebActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.SplashActivity" android:screenOrientation="portrait" android:theme="@style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.utv.activity.HelpActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.AccountVerifyActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.ChangeAccountIdActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.TelPayActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.utv.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="utv-pro.onelink.me" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app" android:pathPrefix="/home" android:scheme="utv"/>
            </intent-filter>
        </activity>
        <activity android:name="com.utv.activity.SerchActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.FilterActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:launchMode="singleTask" android:name="com.utv.activity.LoginActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:launchMode="singleTask" android:name="com.utv.activity.UserXyActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:launchMode="singleTask" android:name="com.utv.activity.LoginChildActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.country.CountryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.VCodeActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.SetOldPhoneActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.SetPhoneActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.SetPwdActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:launchMode="standard" android:name="com.utv.activity.LoginSuccessActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.PurchaseRecordsActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.WatchRecordsActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.AllCollectActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.utv.activity.LiveVideoActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.utv.activity.vr.VrLiveVideoActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app" android:pathPrefix="/liveDetail" android:scheme="utv"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.utv.activity.VarietyVideoActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app" android:pathPrefix="/vodDetail" android:scheme="utv"/>
            </intent-filter>
        </activity>
        <activity android:name="com.utv.activity.NodataActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.ChangeUserNameActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.SettingActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.utv.activity.vr.PlayerActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:launchMode="singleTask" android:name="com.utv.activity.HmvodMovieActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:launchMode="singleTask" android:name="com.utv.activity.HmvodTvActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.utv.activity.HmvodVideoViewActivity" android:screenOrientation="landscape" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.OrderActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.utv.activity.UgcOrderRecordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.utv.activity.CourseActivity" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.util.floatUtil.FloatActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.TvbMoreActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.XyActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.WebActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.InstagramOauthWebActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.BindCellPhoneNumberActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.BindThirdPartyActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.UnbindVerifyTelActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.MessageCenterActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.MessageReceiveLikeActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.MessageMyCommentActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.SpecialSubjectActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.dlna.SearchDeviceActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <service android:name="com.yanhua.tv.lib_dlna.upnp.service.UpnpDeviceService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.utv.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.umeng.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.utv.activity.TermsActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.LoginPreActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.OrderRecordActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.LikeSettingActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.MoreActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.ExchangeCenterActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.utv.activity.KefuActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.AboutActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:name="com.utv.activity.BookingActivity" android:screenOrientation="portrait" android:theme="@style/CustomActionBarTheme"/>
        <activity android:launchMode="singleTop" android:name="com.utv.activity.PullScreenPlayerActivity" android:screenOrientation="landscape" android:theme="@style/AppTheme"/>
        <activity android:name="com.utv.activity.ShareDialogActivity" android:screenOrientation="portrait" android:theme="@style/share_dialog_activity_styles"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.utv.activity.live.LiveEventActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <receiver android:name="com.taobao.accs.EventReceiver" android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.taobao.accs.ServiceReceiver" android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO"/>
            </intent-filter>
        </receiver>
        <service android:name="com.taobao.accs.internal.AccsJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":channel"/>
        <service android:name="com.taobao.accs.ChannelService$KernelService" android:process=":channel"/>
        <service android:exported="true" android:name="org.android.agoo.accs.AgooService">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.umeng.message.UmengIntentService" android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.umeng.message.XiaomiIntentService" android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:name="com.utv.YPushService"/>
        <service android:exported="true" android:name="com.taobao.accs.ChannelService" android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.taobao.accs.data.MsgDistributeService">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.taobao.agoo.AgooCommondReceiver" android:process=":channel">
            <intent-filter>
                <action android:name="com.utv.intent.action.COMMAND"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.umeng.message.UmengMessageIntentReceiverService" android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService"/>
            </intent-filter>
        </service>
        <receiver android:exported="false" android:name="com.umeng.message.NotificationProxyBroadcastReceiver"/>
        <service android:exported="false" android:name="com.umeng.message.UmengMessageCallbackHandlerService" android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.umeng.message.UmengDownloadResourceService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.utv.umeng.message" android:exported="false" android:name="com.umeng.message.provider.MessageProvider">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
        <provider android:authorities="com.utv.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <receiver android:exported="true" android:name="com.appsflyer.SingleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.zs.sdkpay.wxapi.WXPayEntryActivity"/>
        <activity android:name="com.zs.sdkpay.wxapi.WXEntryActivity"/>
        <activity android:name="com.zs.sdkpay.ChinaPayActivity"/>
        <activity android:name="com.zs.sdkpay.PayDollarActivity"/>
        <activity android:name="com.zs.sdkpay.PayCenterActivity"/>
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <activity android:name="ssb.utv.livePlayer.ui.base.webview.WebViewActivity"/>
        <activity android:alwaysRetainTaskState="true" android:name="ssb.utv.livePlayer.ui.base.webview.WebViewFullActivity" android:screenOrientation="portrait"/>
        <activity android:alwaysRetainTaskState="true" android:name="ssb.utv.livePlayer.ui.live.activity.LivePlayerActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.LiveFinishActivity"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.ChatImageActivity"/>
        <activity android:alwaysRetainTaskState="true" android:launchMode="singleTask" android:name="ssb.utv.livePlayer.ui.live.activity.LiveListActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleInstance" android:name="ssb.utv.livePlayer.ui.live.activity.LiveListNewActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleInstance" android:name="ssb.utv.livePlayer.ui.live.activity.IntimacyListActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.LiveListTestActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.LiveSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.MyWalletActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.LiveVipActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UserMainPageActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UserInfoSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UserSetNickNameActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UserFansActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UserHostLevelActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UserWholeServerRankingActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UserGiftRankingActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UserSetSignActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="ssb.utv.livePlayer.ui.live.activity.ChatNewActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.UnFollowMessageActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.SecretaryMessageActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.ChatSystemActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.MsgActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.BlacklistActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.live.activity.MyPropActivity" android:screenOrientation="portrait"/>
        <activity android:name="ssb.utv.livePlayer.ui.liveActivity.LiveActListActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:name="ssb.utv.livePlayer.ui.live.activity.LiveReplayActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="ssb.utv.livePlayer.util.UtilsTransActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <meta-data android:name="design_width_in_dp" android:value="360"/>
        <meta-data android:name="design_height_in_dp" android:value="640"/>
        <meta-data android:name="notch.config" android:value="portrait|landscape"/>
        <meta-data android:name="android.notch_support" android:value="true"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.sdk.app.H5AuthActivity"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="true" android:launchMode="singleInstance" android:name="com.alipay.sdk.app.PayResultActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.alipay.sdk.app.AlipayResultActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.sdk.app.H5OpenAuthActivity" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="3.0.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <provider android:authorities="com.utv.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.luck.picture.lib.PictureFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureSelectorActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureSelectorWeChatStyleActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureSelectorCameraEmptyActivity" android:theme="@style/Picture.Theme.Translucent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureCustomCameraActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PicturePreviewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureSelectorPreviewWeChatStyleActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureVideoPlayActivity" android:screenOrientation="sensor"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureExternalPreviewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PicturePlayAudioActivity"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:theme="@style/Base.Theme.NoActionBar"/>
        <activity android:name="com.yalantis.ucrop.PictureMultiCuttingActivity" android:theme="@style/Base.Theme.NoActionBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="me.weyye.hipermission.PermissionActivity" android:screenOrientation="portrait" android:theme="@style/CustomTheme_Dialog"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="com.utv.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.ads.AdService"/>
        <provider android:authorities="com.utv.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:authorities="com.utv.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <provider android:authorities="com.utv.AgentWebFileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.just.agentweb.AgentWebFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/web_files_public"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:launchMode="standard" android:name="com.just.agentweb.ActionActivity" android:theme="@style/actionActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>
</manifest>