<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.tvbusa.encore.tv.noads" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="true"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:banner="@drawable/banner" android:debuggable="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.tvbusa.encore.tv.MainApplication" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:logo="@drawable/app_icon_your_company" android:name="com.tvbusa.encore.tv.MainActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tvbusa.encore.tv.SeriesActivity"/>
        <activity android:name="com.tvbusa.encore.tv.BCOVPlayerActivity"/>
        <activity android:name="com.tvbusa.encore.tv.DetailsActivity"/>
        <activity android:name="com.tvbusa.encore.tv.PlaybackActivity"/>
        <activity android:name="com.tvbusa.encore.tv.BrowseErrorActivity"/>
        <activity android:name="com.tvbusa.encore.tv.CategoryActivity"/>
        <activity android:name="com.tvbusa.encore.tv.BCOVLivePlayerActivity"/>
        <activity android:name="com.tvbusa.encore.tv.SearchActivity"/>
        <activity android:name="com.tvbusa.encore.tv.InfoActivity"/>
        <activity android:name="com.tvbusa.encore.tv.LoginActivity"/>
        <activity android:name="com.tvbusa.encore.tv.HistoryActivity"/>
        <activity android:name="com.tvbusa.encore.tv.AccountActivity"/>
        <activity android:name="com.tvbusa.encore.tv.SerialNumberActivity"/>
        <activity android:name="com.tvbusa.encore.tv.ExclusiveActivity"/>
        <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>
        <service android:exported="false" android:name="com.brightcove.player.network.DownloadMonitorService"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.firestore.FirestoreRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.tvbusa.encore.tv.noads.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name="com.brightcove.player.captioning.BrightcoveCaptionPropertiesActivity"/>
        <service android:enabled="true" android:name="com.brightcove.player.services.BrightcoveMediaPlayerService"/>
        <service android:name="com.liulishuo.filedownloader.services.FileDownloadService$SharedMainProcessService"/>
        <service android:name="com.liulishuo.filedownloader.services.FileDownloadService$SeparateProcessService" android:process=":filedownloader"/>
    </application>
</manifest>