<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.njpwworld.NJPWWORLD" platformBuildVersionCode="20" platformBuildVersionName="1.3">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="true"/>
    <application android:allowBackup="true" android:banner="@drawable/ic_banner" android:icon="@drawable/ic_launcher" android:label="NJPW WORLD" android:largeHeap="true" android:supportsRtl="true" android:theme="@style/Theme.Leanback">
        <activity android:name="com.njpwworld.NJPWWORLD.view.activity.SplashActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.njpwworld.NJPWWORLD.view.activity.HomeActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.njpwworld.NJPWWORLD.view.activity.AmazonPaymentActivity" android:screenOrientation="landscape"/>
        <activity android:launchMode="singleTop" android:name="com.njpwworld.NJPWWORLD.view.activity.NjpwSignUpActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.njpwworld.NJPWWORLD.view.activity.PlaybackOverlayActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.njpwworld.NJPWWORLD.view.activity.SearchActivity" android:screenOrientation="landscape" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name="com.njpwworld.NJPWWORLD.view.activity.LoginActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.njpwworld.NJPWWORLD.view.activity.WebViewActivity"/>
        <activity android:name="com.njpwworld.NJPWWORLD.view.activity.ShowMoreActivity"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.njpwworld.NJPWWORLD.manager.receiver.LocaleChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.amazon.device.iap.ResponseReceiver">
            <intent-filter>
                <action android:name="com.amazon.inapp.purchasing.NOTIFY" android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>